<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<title>校内闲鱼-商品详情</title>
	<link rel="stylesheet" type="text/css" href="css/leave_word.css"/>
	<link rel=stylesheet type=text/css href="css/hc_lnav2.css">
	<link rel="stylesheet" type="text/css" href="css/reset.css">
	<link rel="stylesheet" type="text/css" href="css/main.css">
	<link href="css/common.css" rel="stylesheet" type="text/css" />
	<link rel="stylesheet" type="text/css" href="css/jquery.dialogbox.css"/>
	<link rel="stylesheet" type="text/css" href="css/chat.css" />
</head>
<div class="header_con">
	<div class="header">
		<div class="welcome fl">欢迎来到校内闲鱼!</div>
		<div class="fr">
			<div class="login_btn fl" th:if="${loginUser} == null">
				<a href="/login">登录</a>
				<span>|</span>
				<a href="/register">注册</a>
			</div>
			<div class="login_btn fl" th:if="${loginUser} != null">
				<a href="" th:text="${loginUser.username}">登录</a>
				<span>|</span>
				<a href="/user/logout">注销</a>
			</div>
			<div class="user_link fl" th:if="${loginUser} != null">
				<span>|</span>
				<a href="/my_info">用户中心</a>
				<span>|</span>
				<a href="/my_collect">我的收藏</a>
				<span>|</span>
				<a href="/my_order">我的订单</a>
			</div>
		</div>
	</div>
</div>

<div class="search_bar clearfix">
	<a href="/" class="logo fl"><img src="images/logo.png"></a>
	<div class="search_con fl">
		<input type="text" class="input_text fl" name="" placeholder="搜索商品" id="search_content">
		<input type="button" class="input_btn fr" name="" value="搜索" id="btn_search">
	</div>
	<div class="guest_cart fr" th:if="${loginUser} != null">
		<a href="/issue" class="cart_name fl">发布闲置</a>
	</div>
</div>

<div class="navbar_con">
	<div class="navbar clearfix hc_lnav">

		<div class="allbtn2 subnav_con fl" >
			<h2><a href="#"><strong>&nbsp;</strong>全部商品分类<i>&nbsp;</i></a></h2>

			<ul style="width:190px" class="jspop box">
				<li class="a1" th:each="item1:${model.categoryList}">
					<div class="tx"><a th:text="${item1.name}" th:href="@{'/list?categoryId='+${item1.id}+'&pageNum=0&pageSize=15&order=0'}"><i>&nbsp;</i>闲置数码</a> </div>
					<dl>
						<dt>推荐</dt>
						<dd >
							<a th:each="item2:${item1.categoryListVoList}" th:text="${item2.name}" th:href="@{'/list?categoryId='+${item2.id}+'&pageNum=0&pageSize=15&order=0'}">西湖井</a>
						</dd>
					</dl>
					<div class="pop">
						<dl>
							<dl th:each="item4:${item1.categoryListVoList}">
								<dt th:text="${item4.name}">绿茶</dt>
								<dd>
									<a class="ui-link" th:each="item5:${item4.categoryListVoList}" th:text="${item5.name}"
									   th:href="@{'/list?categoryId='+${item5.id}+'&pageNum=0&pageSize=15&order=0'}">西湖龙井</a>
								</dd>
							</dl>
						</dl>
						<div class="clr"></div>
					</div>
				</li>
			</ul>
		</div>

		<ul class="navlist fl">
			<li><a href="/">首页</a></li>
			<li class="interval">|</li>
			<li><a href="/list?categoryId=6&pageNum=0&pageSize=15&order=0">手机</a></li>
			<li class="interval">|</li>
			<li><a href="/list?categoryId=8&pageNum=0&pageSize=15&order=0">电脑</a></li>
		</ul>
	</div>
</div>

	<div class="breadcrumb">
		<a href="#">全部分类</a>
		<span>></span>
		<a href="#" th:text="${productDetail.categoryName}"></a>
		<span>></span>
		<a href="#">商品详情</a>
	</div>

	<div class="goods_detail_con clearfix">

		<!--页面必要代码,img标签上请务必带上图片真实尺寸px-->
<div id="showbox" class="goods_detail_pic fl">
		<img th:each="item:${productDetail.subImages}" th:attr="src=${item.url}"  th:width="${item.width}" th:height="${item.height}" />
	  </div><!--展示图片盒子-->
	  <div id="showsum" style="left:-380px;top:420px;"></div><!--展示图片里边-->
	  <p class="showpage" style="top: 420px;left: 23px;">
		<a href="javascript:void(0);" id="showlast"> < </a>
		<a href="javascript:void(0);" id="shownext"> > </a>
	  </p>



		<div class="goods_detail_list fr">
			<h3 th:text="${productDetail.name}"></h3>
			<div class="total" style="font-size: 18px;">成色：<em style="color: #666666;" th:text="${productDetail.quality}">全新</em></div>
			<div class="total" style="font-size: 18px;">联系方式：<em style="color: #666666;" ></em></div>
			<div class="total" style="font-size: 18px;">交易方式：<em style="color: #666666;" >当面交易</em></div>
			<div class="total" style="font-size: 18px;">售价：<em th:text="${productDetail.price}">16.80元</em></div>
			<div class="operate_btn">
				<a class="buy_btn" onclick="click_seller()">联系卖家</a>
				<a id="btn_collect" class="add_cart" onclick="click_collect()">收藏</a>
			</div>
		</div>
	</div>




 <div id="chat_box" class="chat_Box" style="display:none;">
	<div class="chatLeft">
		<div class="chat01" style="margin-top:-12px">
			<div class="chat01_title">
				<ul class="talkTo">
					<li><a href="javascript:;"  th:text="${seller.username}" id="show_chater">卖家</a></li></ul>
				<a class="close_btn" href="javascript:;"></a>
			</div>
			<div class="chat01_content" style="background: #FFFFFF;">
				<div class="message_box mes1">
				</div>
				<div class="message_box mes2">
				</div>
				<div class="message_box mes3" style="display: block;">
				</div>
				<div class="message_box mes4">
				</div>
				<div class="message_box mes5">
				</div>
				<div class="message_box mes6">
				</div>
				<div class="message_box mes7">
				</div>
				<div class="message_box mes8">
				</div>
				<div class="message_box mes9">
				</div>
				<div class="message_box mes10">
				</div>
			</div>
		</div>
		<div class="chat02">
			<div class="chat02_title">
				<a class="chat02_title_btn ctb01" href="javascript:;"></a>

				<div class="wl_faces_box">
					<div class="wl_faces_content">
						<div class="title">
							<ul>
								<li class="title_name">常用表情</li><li class="wl_faces_close"><span>&nbsp;</span></li></ul>
						</div>
						<div class="wl_faces_main">
							<ul>
								<li><a href="javascript:;">
									<img src="images/emo_01.gif" /></a></li><li><a href="javascript:;">
								<img src="images/emo_02.gif" /></a></li><li><a href="javascript:;">
								<img src="images/emo_03.gif" /></a></li>
								<li><a href="javascript:;">
									<img src="images/emo_04.gif" /></a></li><li><a href="javascript:;">
								<img src="images/emo_05.gif" /></a></li><li><a href="javascript:;">
								<img src="images/emo_06.gif" /></a></li>
								<li><a href="javascript:;">
									<img src="images/emo_07.gif" /></a></li><li><a href="javascript:;">
								<img src="images/emo_08.gif" /></a></li><li><a href="javascript:;">
								<img src="images/emo_09.gif" /></a></li>
								<li><a href="javascript:;">
									<img src="images/emo_10.gif" /></a></li><li><a href="javascript:;">
								<img src="images/emo_11.gif" /></a></li><li><a href="javascript:;">
								<img src="images/emo_12.gif" /></a></li>
								<li><a href="javascript:;">
									<img src="images/emo_13.gif" /></a></li><li><a href="javascript:;">
								<img src="images/emo_14.gif" /></a></li><li><a href="javascript:;">
								<img src="images/emo_15.gif" /></a></li>
								<li><a href="javascript:;">
									<img src="images/emo_16.gif" /></a></li><li><a href="javascript:;">
								<img src="images/emo_17.gif" /></a></li><li><a href="javascript:;">
								<img src="images/emo_18.gif" /></a></li>
								<li><a href="javascript:;">
									<img src="images/emo_19.gif" /></a></li><li><a href="javascript:;">
								<img src="images/emo_20.gif" /></a></li><li><a href="javascript:;">
								<img src="images/emo_21.gif" /></a></li>
								<li><a href="javascript:;">
									<img src="images/emo_22.gif" /></a></li><li><a href="javascript:;">
								<img src="images/emo_23.gif" /></a></li><li><a href="javascript:;">
								<img src="images/emo_24.gif" /></a></li>
								<li><a href="javascript:;">
									<img src="images/emo_25.gif" /></a></li><li><a href="javascript:;">
								<img src="images/emo_26.gif" /></a></li><li><a href="javascript:;">
								<img src="images/emo_27.gif" /></a></li>
								<li><a href="javascript:;">
									<img src="images/emo_28.gif" /></a></li><li><a href="javascript:;">
								<img src="images/emo_29.gif" /></a></li><li><a href="javascript:;">
								<img src="images/emo_30.gif" /></a></li>
								<li><a href="javascript:;">
									<img src="images/emo_31.gif" /></a></li><li><a href="javascript:;">
								<img src="images/emo_32.gif" /></a></li><li><a href="javascript:;">
								<img src="images/emo_33.gif" /></a></li>
								<li><a href="javascript:;">
									<img src="images/emo_34.gif" /></a></li><li><a href="javascript:;">
								<img src="images/emo_35.gif" /></a></li><li><a href="javascript:;">
								<img src="images/emo_36.gif" /></a></li>
								<li><a href="javascript:;">
									<img src="images/emo_37.gif" /></a></li><li><a href="javascript:;">
								<img src="images/emo_38.gif" /></a></li><li><a href="javascript:;">
								<img src="images/emo_39.gif" /></a></li>
								<li><a href="javascript:;">
									<img src="images/emo_40.gif" /></a></li><li><a href="javascript:;">
								<img src="images/emo_41.gif" /></a></li><li><a href="javascript:;">
								<img src="images/emo_42.gif" /></a></li>
								<li><a href="javascript:;">
									<img src="images/emo_43.gif" /></a></li><li><a href="javascript:;">
								<img src="images/emo_44.gif" /></a></li><li><a href="javascript:;">
								<img src="images/emo_45.gif" /></a></li>
								<li><a href="javascript:;">
									<img src="images/emo_46.gif" /></a></li><li><a href="javascript:;">
								<img src="images/emo_47.gif" /></a></li><li><a href="javascript:;">
								<img src="images/emo_48.gif" /></a></li>
								<li><a href="javascript:;">
									<img src="images/emo_49.gif" /></a></li><li><a href="javascript:;">
								<img src="images/emo_50.gif" /></a></li><li><a href="javascript:;">
								<img src="images/emo_51.gif" /></a></li>
								<li><a href="javascript:;">
									<img src="images/emo_52.gif" /></a></li><li><a href="javascript:;">
								<img src="images/emo_53.gif" /></a></li><li><a href="javascript:;">
								<img src="images/emo_54.gif" /></a></li>
								<li><a href="javascript:;">
									<img src="images/emo_55.gif" /></a></li><li><a href="javascript:;">
								<img src="images/emo_56.gif" /></a></li><li><a href="javascript:;">
								<img src="images/emo_57.gif" /></a></li>
								<li><a href="javascript:;">
									<img src="images/emo_58.gif" /></a></li><li><a href="javascript:;">
								<img src="images/emo_59.gif" /></a></li><li><a href="javascript:;">
								<img src="images/emo_60.gif" /></a></li>
							</ul>
						</div>
					</div>
					<div class="wlf_icon">
					</div>
				</div>
			</div>
			<div class="chat02_content">
				<textarea id="textarea"></textarea>
			</div>
			<div class="chat02_bar">
				<ul>
					<li style="right: 5px; top: 5px;"><a href="javascript:;">
						<img src="images/send_btn.jpg"></a></li>
				</ul>
			</div>
		</div>
	</div>

	<div style="clear: both;">
	</div>
</div>





	<div class="main_wrap clearfix">
		<div class="l_wrap fl clearfix">
			<div class="new_goods">
				<h3>新品推荐</h3>
				<ul>
					<li>
						<a href="#"><img src="images/goods/goods001.jpg"></a>
						<h4><a href="#">iPhone7&8手机壳4.7寸</a></h4>
						<div class="prize">￥3.90</div>
					</li>
					<li>
						<a href="#"><img src="images/goods/goods002.jpg"></a>
						<h4><a href="#">[转卖]7耳机转接头</a></h4>
						<div class="prize">￥20</div>
					</li>
				</ul>
			</div>
		</div>

		<div class="r_wrap fr clearfix">
			<ul class="detail_tab clearfix">
				<li class="active" id="product_detail">商品介绍</li>
				<li id="leval_word">留言</li>
			</ul>

			<div class="tab_content" id="detail_content">
				<dl>
					<dt>商品详情：</dt>
					<dd th:utext="${productDetail.detail}"> </dd>
				</dl>
			</div>

			<div id="leave_content" style="width: 700px; height: auto;margin-top:40px;display:none" class="tab_content">
				<div class="wrap">
					<div class="comment">
						<div class="head-face">
							<!-- <img src="images/1.jpg" / > -->
							<p>我</p>
						</div>
						<div class="content">
							<div class="cont-box">
								<textarea class="text" placeholder="请输入..."></textarea>
							</div>
							<div class="tools-box">
								<div class="operator-box-btn"><span class="face-icon"  >☺</span><span class="img-icon">▧</span></div>
								<div class="submit-btn"><input type="button" onClick="out()"value="提交评论" /></div>
							</div>
						</div>
					</div>
					<div id="info-show">
						<ul>
							<li th:each="item:${leaveWord}">
								<div class="head-face"></div>
								<div class="reply-cont">
									<p class="username" th:text="${item.sender}">小小红色飞机</p>
									<p class="comment-body" th:utext="${item.content}">123
										<img src="http://img.t.sinajs.cn/t4/appstyle/expression/ext/normal/4d/2018new_huaixiao_org.png" height="22" width="22">
										<img src="http://a.hiphotos.baidu.com/image/pic/item/e850352ac65c103873a1cd82b9119313b17e8996.jpg" alt="">
									</p>
									<p class="comment-footer" th:text="${item.createTime + '　    回复　点赞54　转发12'}">2016年10月5日　回复　点赞54　转发12</p>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>

		</div>
	</div>

	<div class="footer">
		<div class="foot_link">
			<a href="#">关于我们</a>
			<span>|</span>
			<a href="#">联系我们</a>
			<span>|</span>
			<a href="#">招聘人才</a>
			<span>|</span>
			<a href="#">友情链接</a>		
		</div>
		<p>CopyRight © 2018 校内闲鱼信息技术有限公司 All Rights Reserved</p>
		<p>电话：010-****888    京ICP备*******8号</p>
	</div>

<div id="stantard-dialogBox"></div>


	<script type="text/javascript" src="scripts/jquery.min.js"></script>
	<script src="js/common.js"></script>
	<script src="js/leave_word.js"></script>
	<script src="js/jquery.dialogBox.js"></script>
	<script type="text/javascript" src="js/chat.js"></script>
	<script type="text/javascript" th:inline="javascript">
        var is_login = [[${loginUser}]];
        var productId = [[${productDetail.id}]];
		function click_seller() {
			if (is_login == null){
                $('#stantard-dialogBox').dialogBox({
                    title: '校内闲鱼',
                    hasClose: true,
                    content: '请先登录'
                });
                return;
			}
			$('#chat_box').show();
        }
		function click_collect(){
            if (is_login == null){
                $('#stantard-dialogBox').dialogBox({
                    title: '校内闲鱼',
                    hasClose: true,
                    content: '请先登录'
                });
                return;
            }
			$.ajax({
				url:'/collect/save',
				type:'POST', //GET
				async:true,    //或false,是否异步
				data:{
					productId:productId
				},
				timeout:5000,    //超时时间
				dataType:'json',    //返回的数据格式：json/xml/html/script/jsonp/text
				success:function(data,textStatus,jqXHR){
					if (data.status==0){
						$('#stantard-dialogBox').dialogBox({
							title: '校内闲鱼',
							hasClose: true,
							content: '收藏成功'
						});
					} else{
						$('#stantard-dialogBox').dialogBox({
							title: '校内闲鱼',
							hasClose: true,
							content: data.msg
						});
					}
				},
			})
		}
		$(function(){
			$('#product_detail').click(function(){
				$("#detail_content").show();
				$("#leave_content").hide();
				$("#product_detail").attr("class","active");
				$("#leval_word").attr("class","");
			});

			$('#leval_word').click(function(){
				$("#leave_content").show();
				$("#detail_content").hide();
				$("#product_detail").attr("class","");
				$("#leval_word").attr("class","active");
			});


		});

		// 绑定表情
		$('.face-icon').SinaEmotion($('.text'));
		// 测试本地解析
		function out() {
            if (is_login == null){
                $('#stantard-dialogBox').dialogBox({
                    title: '校内闲鱼',
                    hasClose: true,
                    content: '请先登录'
                });
                return;
            }
			var inputText = $('.text').val();
			var txt = AnalyticEmotion(inputText);
            $.ajax({
                url:'/leave_word/save',
                type:'POST', //GET
                async:true,    //或false,是否异步
                data:{
                    productId:productId,
                    content:txt
                },
                timeout:5000,    //超时时间
                dataType:'json',    //返回的数据格式：json/xml/html/script/jsonp/text
                success:function(data,textStatus,jqXHR){
                    if (data.status==0){
                        $('#stantard-dialogBox').dialogBox({
                            title: '校内闲鱼',
                            hasClose: true,
                            content: '发布成功'
                        });
                        setTimeout(function () {
                            window.location.reload();
                        }, 2000);
                    } else{
                        $('#stantard-dialogBox').dialogBox({
                            title: '校内闲鱼',
                            hasClose: true,
                            content: data.msg
                        });
                    }
                },
            })
		}



	</script>

	<script type="text/javascript">
		$(function () {
			$('#btn_search').click(function () {
				var word = $('#search_content').val();
				window.location.href="/search?word="+word+"&order=0&pageNum=0&pageSize=15";
			})
		})

	</script>

	<script th:if="${loginUser} != null" type="text/javascript">
        receiver_id = [[${productDetail.userId}]];
        init_websocket();
	</script>
</body>
</html>